.header {
    display: flex;
    flex-direction: column;
    height: 70px;
    align-items: center;
    padding: 0px 10px;
    position: relative;
    align-self: stretch;
    width: 100%;
    background-color: #8f8ff1;
  }
  
 .container {
    display: flex;
    width: 1032px;
    height: 70px;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;
    flex-direction: column;
    position: relative;
  }
  
.div {
    display: flex;
    height: 60px;
    align-items: center;
    gap: 574px;
    position: relative;
    align-self: stretch;
    width: 100%;
    margin-bottom: -10px;
  }
  
.logo_icon {
    position: relative;
    flex: 0 0 auto;
    height: 60px;
  }
  
 .logo_text {
    position: absolute;
    width: 82px;
    top: 15px;
    left: 43px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
.logo_img {
    position: absolute;
    width: 42px;
    height: 29px;
    top: -1px;
    left: 0;
    object-fit: cover;
  }
  
.header_input {
    position: absolute;
    width: 503px;
    height: 44px;
    top: 3px;
    left: 185px;
    background-color: #d9d9d9;
    border-radius: 5px;
  }
  
 .img {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 2px;
    left: 22px;
    z-index: 1;
  }
  
.main_menu {
    justify-content: flex-end;
    flex: 1;
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
    left: 80px
  }
  
.menu_item {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    position: relative;
    flex: 0 0 auto;
  }
  
.menu_item_txt {
    width: 50px;
    position: relative;
    height: 20px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
.text_wrapper {
    width: 60px;
    position: relative;
    height: 20px;
    margin-top: -1px;
    font-family: "Inter-Black", Helvetica;
    font-weight: 900;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  a {
    text-decoration: none;
  }

.search_inputbox {
    position: absolute;
    width: 433px;
    left: 70px;
    height: 44px;
    background-color: #d9d9d9;
    border-radius: 5px;
}
form {
  height: 44px;
}